lotteries:
  national:
    jackpot: 5
    url: https://www.national-lottery.co.uk/games/lotto?icid=home:bd:4:prm-bn:lo:roll2:pl:co
  euromillions:
    jackpot: 10
    url: https://www.national-lottery.co.uk/games/euromillions?icid=home:bd:1:hrp:em:roll3:pl:co

pushed:
  app_key: app_key_val
  app_secret: app_secret_val
  target_alias: target_alias_val